/* Global Reset for Headings */
h1, h2, h3, h4, h5 {
    margin: 0;
}
button{
    cursor: pointer;
}
p {
    color: rgb(190, 180, 180);
    line-height: 32px;
    font-size: 20px;
    margin: 0px;
}

/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 56px; /* Padding from both sides of header */
    align-items: center;
}

/* Navigation Styles */
nav {
    background-color: #ffffff; /* Background color */
    color: #282828; /* Text color */
    text-align: center;
    padding: 10px; /* Add some padding for spacing */
}

/* List Styles */
ul {
    list-style: none; /* Remove the default list bullet points */
    padding: 0;
}

/* List Item Styles */
li {
    display: inline; /* Display list items in a horizontal line */
    margin: 0 24px; /* Add spacing between items */
}

/* Link Styles */
a {
    text-decoration: none; /* Remove underline from links */
    color: #363636; /* Text color for links */
}

body{
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
}


body::-webkit-scrollbar {
width: 0;
height: 0;
}

svg{
    height: 20px;
    width: 20px;
    color: gray;
}



/* Main Content Styles */
main {
    padding: 16px 56px; /* Padding from both sides of the main body */
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.section{
    padding: 32px 0;
}
.section-name{
    font-family: Irish Grover;
}

/* Portfolio Name Styles */
.Portfolio-Name {
    color: gray;
}

.Portfolio-Name span {
    font-family: Irish Grover;
    color: #9460c2;
    font-size: 20px;
}

/* Hero Section Styles */
#hero-section {
    display: flex;
    gap: 180px;
    
}

#hero-section h1{
    font-size: 40px;
    color: #363636;
}

#hero-section div {
    flex: 1;
}

.hero-section{
    width: 60%;
}
.hero-section-img {
    
    height: 460px;
    flex: 1;
}

.hero-section-introduction {
    padding-top: 48px;
    gap: 8px;
}

.hero-section-introduction h1 {
    font-size: 36px;
}





/* Primary Button Styles */
.Primary-Button {
    background-color: #693696;
    color: #ffffff;
    padding: 12px 32px;
    border: none;
    margin-right: 24px;
    border-radius: 10px;
    font-size: 16px;
}

/* Hero Section Icon Styles */
.hero-section-introduction-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 32px;
    padding: 16px;
}

.hero-section-introduction-icons img {
    height: 22px;
    width: 22px;
}



/* Skills Sction css start */
#skills{
    display: flex;
    gap: 42px;

}

.skills-section-description{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.skills-section-img{
    width: 50%;
    height: 460px;
}

.techstack-images{
    display: flex;
    gap: 24px;
}

.techstack-images img{
    height: 40px;
    width: 40px;
    
}



/* Project Section */

#projects{
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
}

.projects {
    display: flex;
    width: 100%;
    gap: 64px;
    padding: 16px 0px;
    overflow: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer/Edge */
  }
  
  .projects::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  

.Project{
    padding:20px;  
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: relative;
}

.Project:hover{
    border: 0.8px solid rgb(164, 164, 164);
    border-radius: 8px;
    box-shadow: 2px 1px 12px 5px rgba(210, 210, 210, 0.4);
}

.Project-Image {
    filter: grayscale();
    height: 240px;
    width: 265px;
    box-shadow: 2px 8px 20px 8px rgba(209, 209, 209, 0.4);
    border-radius: 8px;
    
  }

  .Project-Image:hover{
    filter: none;
    
  }  
.Project-Title{
    padding-bottom: 8px;
}


.project-open{
    position: absolute;
    top: -1%;
    right: -2%;
}


/* acheivements css */
#achievements{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.achievements{
    display: flex;
    gap: 32px;
}
.achievements div{
    flex: 1;
}
.achievementsimg{
    height: 80%;
    width: 100%;
    border: 6px solid rgb(175, 175, 254);
}


#blogs{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.blogs{
    display: flex;
    gap: 64px;
    position: relative;
}
.blog {
    height: 80px;
    width: 200px;
    border: 1px solid gray;
    
}


.blog {
    --g: 4px;     /* the gap */
    --b: 8px;    /* border thickness*/
    --c: #edf05e; /* the color */
    
    
    padding: calc(var(--g) + var(--b));
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
    background:
      var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
      var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b),var(--b) 200%;
    cursor: pointer;
    filter: grayscale(50%);
    transition: .3s;
  }
 .blog:hover {
    --_p: 75%;
    filter: grayscale(0%);
  }
  


  .Project-Title {
	font-family: "Dancing Script", cursive;
	font-size: 1rem;
	
	position: relative;
}

.Project-Title::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 4px;
	background-color: whitesmoke;
	left: 50%;
	bottom: -10px;
	transition: all 0.4s ease-in-out;
}

.projects:hover .Project-Title::after {
	width: 100%;
	left: 0;
}



.hidden {
    display: none;
}

.hero-section-contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}


  
  